/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x:hidden;
}


/******************************************
/* LAYOUT
/*******************************************/
#container {
  width: 900px;
  margin: 0 auto;
  border: 1px solid black;
}

header {
  height: 8em;
  border: 1px solid black;
  background-color: black;
  border-bottom: 4px solid #F9F625;
}

header h1 {
  color: #F9F625;
  font-weight: bolder;
  font-size: 2.4em;
  font-family: serif;
  margin-top: 0.6%;
  margin-left: 2%;
}

#header-nav {
  margin-left: 14%;
  margin-top: 1%;
  margin-bottom: 2%;
}

a.header-links {
  color: white;
  margin-right: 4%;
}

a.big {
  font-family: impact;
  font-size: 1.7em;
}

a.small {
  font-family: serif;
  font-size: 1.4em;
}

#small-match-p {
  display: none;
}

#below-header-message {
  height: 6em;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.47);
  text-align: center;
}

#below-header-message p {
  color: black;
  font-size: 2em;
  font-style: italic;
  font-family: serif;
  font-weight: bolder;
  padding-top: 2%;
}

#taste {
  text-decoration: line-through;
  color: rgba(128, 128, 128, 0.66);
}

#are {
  border-bottom: 2px solid #F9F625; 
  padding-bottom: 0.1%;
}

#image-container {
/*  z-index: -1;*/
  background: url(../images/coworking.jpg) no-repeat center top rgb(134,141,157);
  height: 33em;
  background-size: 100% 100%;
}

#meet-your-match {
  width: 25%;
  background-color: rgba(255, 255, 255, 0.72);
  border: 1px solid rgba(0, 0, 0, 0.22);
  position: relative;
  top: 3em;
  padding: 1%;
  text-align: left;
  color: black;
  left: 69%;
}

#meet-your-match h4 {
  font-size: 2em;
  font-family: serif;
  font-weight: bolder;
  padding-top: 3%;
  padding-left: 2%;
  margin-bottom: 5%;
}

#meet-your-match p {
  font-size: 1.3em;
  font-family: serif;
  margin: 3%;
}

#meet-your-match button {
  height: 2.3em;
  width: 93%;
  background-color: #F9F625;
  font-weight: bold;
  font-family: impact;
  font-size: 1rem;
  border-radius: 5px;
  border-color: transparent;
  margin-top: 10px;
  color: black;
  margin-left: 3%;
  margin-top: 5%;
  margin-bottom: 3%;
}

#general-content {
  height: 19em;
  text-align: left; 
}

.general-content-titles {
  font-size: 2.1em;
  font-weight: bold;
  font-family: initial;
  margin-bottom: 5%;
  margin-left: 13%;
  margin-top: 2%;
}

.general-content-boxes {
  width: 33.3%;
  padding: 1%;
  float: left;
}

.general-content-boxes p {
  margin-left: 6%;
  margin-right: 10%;
  font-size: 1.2em;
}

.general-content-buttons {
  height: 2.4em;
  width: 70%;
  background-color: rgba(128, 128, 128, 0.44);
  font-weight: lighter;
  font-family: impact;
  font-size: 1.4em;
  border-radius: 5px;
  border-color: transparent;
  margin-top: 10px;
  color: black;
  margin-left: 10%;
  margin-top: 5%; 
}

#find-a-dev {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

footer {
  height: 4em;
  width: 100%;
  border: 1px solid black;
  background-color: black;
  color: white;
  padding-left: 1%;
  padding-top: 2%;
  font-size: 1.2em;
}

/*Making it responsive for lower viewport sizes*/
@media screen and (max-width:400px){

  br {
    display: none;
  }

  #big-match-p {
    display: none;
  }

  #small-match-p {
    display: block;
  }

  header h1 {
    font-size: 2.5em;
    text-align: left;
    margin-left: 3%;
    margin-top: 2%;
  }

  header {
    height: 5em;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  #header-nav {
    margin-left: 0%;
    background:black;
  }

  #header-nav a { 
    width:100%; 
    padding: 3px;
    text-align: center;
    border-top: 1px solid white;
    display: none;
  }

  #below-header-message {
    display: none;
  }

  #meet-your-match {
    left: 16%;
    top: 22%;
  }

  #image-container {
    height: 30em;
  }

  #general-content {
    float: left; 
    width: 137em;
    margin-top: 1%;
  }

  .general-content-titles {
   float: left;
  }

  .general-content-boxes {
   float: left;
   clear: left;
  }

  .general-content-boxes p {
    float: left;
    width: 60%;
  }

  .general-content-buttons {
    float: left;
    height: 3.4em;
    margin-left: 0;
  }

  footer {
   margin-top: 80%;
  }

  #hamburger {
    display: block;
    height: 2em;
    background: linear-gradient(to bottom, #D8DF0F 0%, #EFE811 20%, transparent 20%, transparent 40%, #F4F511 40%, #E8EB0A 60%, transparent 60%, transparent 80%, #EDE513 80%, #ECF310 100%);
    width: 4.5em;
    position: fixed;
    right: 5%;
    top: 2%;
    border-radius: 10%;
  }

  #create-profile {
    border-right: none;
  }

  #find-a-dev {
    border-right: none;
  }

}












